<app-header></app-header>

<section id="contact-us" class="contact-us section">
  <div class="container">
    <div class="contact-head">
      <div class="row">
        <div class="col-10" id="white">
          <div class="form-main">
            <div class="title">
              <!-- <h4>Get in touch</h4><br><br> -->
              <h3>Return Policy</h3>
            </div>
            <div class="rte">
              <p>
                RETURN POLICY AVAILABLE<br /><br />1 In case of any size issue
                from the customer side for example&nbsp;M/s&nbsp;(xxxxx) has
                placed 37 instead of 38 after receiving the parcel the customer
                <span>(xxxxx)</span> is willing to exchange the product the
                customer have to bare the courier charge for the return pick-up
                and for the re dispatch.<br /><br />2 In case of size issue from
                the company side for example M/s&nbsp;<span>(xxxxx)</span> have
                placed 37 instead of that 38 size is dispatched from company
                side. The company will bare the courier charge upto 100Rs.
                According to the product.<br /><br />3 In case of any damages
                while receiving the product, customer have to take a video,
                footage while unpacking the parcel. After verification of the
                video your refund or exchange will be applicable.<br /><br />4
                If Refund is applied as per the above said points 1 &amp; 2 ,the
                amount will be credited in the customer account automatically in
                15 to 20 working days.<br /><br />5 In case or any technical
                issues in automatic credit of your payment (or) automatic credit
                of your refund. Please put a mail to
                afj.abdulhai@gmail.com<br /><br />6 For any queries please
                free to contact 9150323354 9150323356
              </p>
              <p>
                7&nbsp;Exchanges (if applicable) <br />We only replace items if
                they are defective or damaged. If you need to exchange it for
                the same item,if u open the package kindly take video proof and
                send us an email at afj.abdulhai@gmail.com and send your item
                to AFJ Pondy Bazaar,
                Chennai - 600 017 ,Chennai TN, India.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-12" style="display: none">
          <div class="single-head">
            <div class="single-info">
              <i class="fa fa-phone"></i>
              <h4 class="title">Call us Now:</h4>
              <ul>
                <li>+123 456-789-1120</li>
                <li>+522 672-452-1120</li>
              </ul>
            </div>

            <div class="single-info">
              <i class="fa fa-envelope-open"></i>
              <h4 class="title">Email:</h4>
              <ul>
                <li>
                  <a href="mailto:info@yourwebsite.com">info@yourwebsite.com</a>
                </li>
                <li>
                  <a href="mailto:info@yourwebsite.com"
                    >support@yourwebsite.com</a
                  >
                </li>
              </ul>
            </div>
            <div class="single-info">
              <i class="fa fa-location-arrow"></i>
              <h4 class="title">Our Address:</h4>
              <ul>
                <li>
                  KA-62/1, Travel Agency, 45 Grand Central Terminal, New York.
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
