<app-loader-db *ngIf="loaderbool"></app-loader-db>

<section class="register-page">
  <br>
  <br>
  
<div class="register-box">
    <div class="register-logo">
        <img src="https://ayishafashionjewellery.com/assets/images/afj-logo.png" width="60" alt="logo" class="cent" /><br>
      <a href=""><b>AFJ-</b>Dashboard Panel</a>
    </div>
 
    <div class="card">
      <div class="card-body register-card-body">
        <p class="login-box-msg">Signup for register here..!!</p>
  
        <form [formGroup]="register" (ngSubmit)="create()">
          <div class="input-group mb-3">
            <input formControlName='first_name' type="text" class="form-control" placeholder=" Full name">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input formControlName='last_name' type="text" class="form-control" placeholder=" Last name">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input formControlName='email_id' type="email" class="form-control" placeholder=" Email">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input formControlName='phone_number' type="text" class="form-control" placeholder=" Phone Number">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-phone"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input formControlName='address' type="text" class="form-control" placeholder=" Address">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-map-marker-alt"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="exampleInputFile" (change)="onImageChanged($event)">
                  <label class="custom-file-label" for="exampleInputFile">{{imgName}}</label>
                </div>
                <!-- <div class="input-group-append">
                  <span class="input-group-text">Upload</span>
                </div> -->
             
          </div>
          <div class="input-group mb-3">
            <input toggle formControlName='password' toggle type="password" class="form-control red-tooltip" placeholder=" Password" data-toggle="tooltip" data-placement="right" title="Your password must be 8 characters long, must contain letters, numbers, and special characters">
            <div class="input-group-append" style="cursor: pointer;">
              
            </div>
          </div>
          <!-- <span class="text-danger" *ngIf="register.controls['password'].dirty && register.hasError('required','password')">
            * Password format should be as below rules..</span> -->
            <span id="passwordHelpBlock" class="form-text text-info">
              Password must be minimum 8 characters long,must contain uppercase, lowercase, numbers, & special characters.
            </span>
            <br>
          <div class="row">
            <!-- <div class="col-8">
              <div class="icheck-primary">
                <input type="checkbox" id="agreeTerms" name="terms" value="agree">
                <label for="agreeTerms">
                 I agree to the <a href="#">terms</a>
                </label>
              </div>
            </div> -->
            <!-- /.col -->
            <div class="col-6">
              <button type="submit" class="btn btn-primary btn-block">Register</button>
            </div>
            <!-- /.col -->
          </div>
        </form>

  <br>
        <a routerLink="/login" class="d-flex justify-content-center">I already have a account</a>
      </div>
      <!-- /.form-box -->
    </div><!-- /.card -->
  </div>
  <!-- /.register-box -->
</section>