.row{
    justify-content: center;
}
.login-page, .register-page {
    background: url();
}

.login-logo, .register-logo {
    font-size:26px !important
}

 p {
    margin: -6px 0 0px !important;
}

.cent{
    display: block;
margin-left: auto;
margin-right: auto;
width: 16%;
  }

  .red-tooltip + .tooltip > .tooltip-inner {background-color: black;}


  
.border-md {
    border-width: 2px;
}

.btn-facebook {
    background: #405D9D;
    border: none;
}

.btn-facebook:hover, .btn-facebook:focus {
    background: #314879;
}

.btn-twitter {
    background: #42AEEC;
    border: none;
}

.btn-twitter:hover, .btn-twitter:focus {
    background: #1799e4;
}



/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/

body {
    min-height: 100vh;
}

.form-control:not(select) {
    padding: 1.5rem 0.5rem;
}

select.form-control {
    height: 52px;
    padding-left: 0.5rem;
}

.form-control::placeholder {
    color: #ccc;
    font-weight: bold;
    font-size: 0.9rem;
}
.form-control:focus {
    box-shadow: none;
}

/* .input-group-prepend {
    margin-right: 1px;
    border-right: 1px solid #d2c6c6;
} */

#is{
    -moz-box-shadow: 0px 6px 5px #ccc;
  -webkit-box-shadow: 0px 6px 5px #ccc;
  box-shadow: 0px 6px 5px #ccc;
  -moz-border-radius:190px;
  -webkit-border-radius:190px;
  border-radius:190px;
}

/* #svg{
    box-shadow: 10px 10px 5px #ccc;
    -moz-box-shadow: 10px 10px 5px #ccc;
    -webkit-box-shadow: 10px 10px 5px #ccc;
    -khtml-box-shadow: 10px 10px 5px #ccc;
} */

@media (min-width: 768px){
.mb-md-0, .my-md-0 {
    margin-bottom: 160px !important;
}
}

@media (min-width: 600px) {
    #hide {
      display: none !important;
    }
    
  }