.row{
    justify-content: center;
}
.login-page, .register-page {
    background: url();
}

.cent{
    display: block;
margin-left: auto;
margin-right: auto;
width: 16%;
  }

  .red-tooltip + .tooltip > .tooltip-inner {background-color: black;}