.row{
    justify-content: center;
}
.login-page, .register-page {
    background: url();
}

.login-logo, .register-logo {
    font-size:26px !important
}

 p {
    margin: -6px 0 0px !important;
}

.cent{
    display: block;
margin-left: auto;
margin-right: auto;
width: 16%;
  }

  .red-tooltip + .tooltip > .tooltip-inner {background-color: black;}