/* .container {
  padding: 40px;
} */

.search-box {
  display: inline-block;
  width: 100%;
  border-radius: 3px;
  padding: 4px 55px 4px 15px;
  position: relative;
  background: #fff;
  border: 1px solid #ddd;
}
.search-box.hovered,
.search-box:hover,
.search-box:active {
  border: 1px solid #aaa;
}
.search-box input[type="text"] {
  border: none;
  box-shadow: none;
  display: inline-block;
  padding: 0;
  background: transparent;
}
.search-box input[type="text"]:hover,
.search-box input[type="text"]:focus,
.search-box input[type="text"]:active {
  box-shadow: none;
}
.search-box .search-btn {
  position: absolute;
  right: 2px;
  top: 2px;
  color: #aaa;
  border-radius: 3px;
  font-size: 21px;
  padding: 5px 10px 1px;
}
.search-box .search-btn:hover {
  color: #fff;
  background-color: blue;
}

/* .table-image td, .table-image th {
  vertical-align: middle;
} */

.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.table tbody td .img {
  width: 120px;
  height: 130px;
  border-radius: 8px;
}

#preview{
  width: 430px;
  height: 215px;
  border-radius: 8px;
}

.card-header {
    
    background-color: white;
    
}

.p-inputtext {
  
  font-size: 1rem;
  color: #495057;
  background: #ffffff;
  padding: 0.5rem 0.75rem;
  border: 1px solid #ced4da;
  transition: background-color 0.15s, border-color 0.15s, box-shadow 0.15s;
  appearance: none;
  border-radius: 4px;
}

.landscape {
  display: block;
  max-width: 100%;
  height: auto;
}