<app-header-db></app-header-db>
<app-loader-db *ngIf="loaderbool"></app-loader-db>



<div class="content-wrapper">
  <br>
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">View Banner</h1>
          </div>
          
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Add Banner</li>
            </ol>
          </div>
         
        </div>
        
      </div>
      
    </div>
    <div class="card card-primary" style="display: none;">
      
      <nav class="navbar navbar-light">
    <div class="container-fluid">
      
      <div class="d-flex">
       
      </div>
    </div>
  </nav>
<br>
<!-- search bar -->
  <div class="container" >
    <div class="row">
      
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="search-box">
          <form class="search-form">
            <input class="form-control" name="term" placeholder="Search Here" type="text" [(ngModel)]="term">
            <button class="btn btn-link search-btn">
              <i class="fas fa-search"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  

<br>

  

  <!-- Button trigger modal -->
  <!-- Modal -->
  
  
  <br>
  <!---->
  <!-- <div class="d-flex justify-content-center">
    <pagination-controls  maxSize='5' directionLinks='true' (pageChange)="page = $event"></pagination-controls>
  </div>
   -->

 
  
  </div>
  <br>
<div class="col-12" style="display: none;">
  <div class="card">
    <div class="card-header">
      <!-- <h3 class="card-title">Offers</h3> -->

      <div class="card-tools">
        <div class="input-group input-group-sm" style="width: 500px;">
          <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

          <div class="input-group-append">
            <button type="submit" class="btn btn-default">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div><br>
      </div>
    </div>
    <!-- /.card-header -->
    <!-- <div class="card-body table-responsive p-0">
      <table class="table table-hover text-nowrap">
        <thead class="table-warning">
          <tr>
            <th>ID</th>
            <th>Image</th>
            <th>Name</th>
            
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let row of banner.message">
           
            
            <td>{{row?.created_by}}</td>
            <td><img class="img img-fluid img-thumbnail"  src="{{row?.banner_url}}"   alt="alt"></td>
            <td>{{row?.banner_name}}</td>
           
            <td>
              <button type="button" (click)="onEdit(row); open(content)"  class="btn btn-secondary"><i class="fas fa-edit"></i></button>&nbsp;
              <button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
            </td>
          </tr>
       
        </tbody>
      </table>
    </div> -->
    
  </div>
</div>

<div class="col-12">
<div class="card">
  <!-- <h5>Single Column</h5> -->
  <!-- <div class="p-mb-3">
    <p-button type="button" icon="pi pi-chevron-left" (click)="prev()" [disabled]="isFirstPage()" styleClass="p-button-text"></p-button>
    <p-button type="button" icon="pi pi-refresh" (click)="reset()" styleClass="p-button-text"></p-button>
    <p-button type="button" icon="pi pi-chevron-right" (click)="next()" [disabled]="isLastPage()" styleClass="p-button-text"></p-button>
</div> -->


  <p-table #dt1 [value]="prime" responsiveLayout="scroll" [paginator]="true" [rows]="5" [showCurrentPageReport]="true" 
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]"
  selectionMode="single" [(selection)]="selectedCustomer" dataKey="id" styleClass="p-datatable-customers"
         stateStorage="local" stateKey="statedemo-local">

    <ng-template pTemplate="header">
        <tr>
            <th style="width: 3rem"></th>
            <th>Image</th>
            <th pSortableColumn="banner_name">Name <p-sortIcon field="banner_name"></p-sortIcon></th>
            <th pSortableColumn="created_at">Created At<p-sortIcon field="created_at"></p-sortIcon></th>
            <th>Actions</th>
        </tr>
        <tr>
          <th>
              
          </th>
          <th>
              
          </th>
          <th>
              <input pInputText type="text" (input)="dt1.filter($event.target.value, 'banner_name', 'contains')" [value]="dt1.filters['banner_name']?.value" placeholder="Search" class="p-inputtext p-component p-element p-column-filter">
          </th>
          <th>
              <input pInputText type="text" (input)="dt1.filter($event.target.value, 'created_at', 'contains')" [value]="dt1.filters['created_at']?.value" placeholder="Search" class="p-inputtext p-component p-element p-column-filter">
          </th>
          <th>
            <button pButton pRipple type="button" icon="pi pi-file-excel" class="p-button-rounded p-button-warning p-button-outlined" (click)="exportExcel()"></button>
          </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-prime let-expanded="expanded">
        <tr>
          <td>
            <button type="button" pButton pRipple [pRowToggler]="prime" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
        </td>
          <td><img src="{{prime.banner_url}}" alt="img" width="100" class="p-shadow-4" /></td> 
          <td>{{prime.banner_name}}</td>
          <td>{{prime.created_at}}</td>
          <td>
            <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-warning p-button-outlined" (click)="onEdit(prime); open(content)"></button>
           &nbsp; <button pButton pRipple type="button" icon="pi pi-eye" class="p-button-rounded p-button-primary p-button-outlined" (click)="onEdit(prime); showModalDialog()"></button>
          </td>
          
        </tr>
    </ng-template>

  <ng-template pTemplate="rowexpansion">

   
  </ng-template>

    <ng-template pTemplate="paginatorleft">
      <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
  </ng-template>
  <ng-template pTemplate="paginatorright">
      <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
  </ng-template>
   
</p-table>

 
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    
      
      <div class="modal-body" style="overflow: hidden;">
        <br>
        <br>
        <br>
        <section class="content">
          <div class="container-fluid">
            <div>
          <div class="card card-info">
            <!-- /.card-header  -->
            <div class="card-header">
              <h3 class="card-title text-center">Banner Edit <i class="fas fa-edit"></i> </h3>
            </div>
            <!-- form start  (ngSubmit)="uploadBanner(uploadbannerform)"-->
            <form role="form" #uploadbannerform="ngForm">
              <div class="card-body">
                <div class="form-group">
                  <label for="exampleInputEmail1">Name</label>
        
                  <input
                    type="text"
                    name="name"
                    required
                    class="form-control"
                    id="exampleInputEmail1"
                    ngModel
                    (change)="onNameChanged($event)"
                    placeholder=" Enter Name"
                    #BannerName="ngModel"
                    [ngClass]="{
                      'is-invalid': uploadbannerform.submitted && !BannerName.valid
                    }"
                  />
                </div>
        
                <div class="form-group">
                  <label for="exampleInputFile">Upload Image</label>
                  <div class="input-group">
                    <div class="custom-file">
                      <input
                        required
                        accept="image/*"
                        type="file"
                        class="custom-file-input"
                        id="exampleInputFile"
                        name="banner_image"
                        #BannerImg="ngModel"
                        ngModel
                        (change)="onImageChanged($event)"
                        [ngClass]="{
                          'is-invalid': uploadbannerform.submitted && !BannerImg.valid
                        }"
                      />
                      <label class="custom-file-label" for="exampleInputFile"></label>
                    </div>
                    <!-- <div class="input-group-append">
                      <span class="input-group-text" id="">Upload</span>
                    </div> -->
                  </div>
                  <!-- <div class="form-group" #fgName="ngModelGroup" ngModelGroup="Des">
                        <label for="exampleInputEmail1">features</label>
                        <input type="email" name="features" class="form-control"ngModel  id="exampleInputEmail1" placeholder="Enter Name" (change)="onfeatureChanged($event)" > 
                      
                        <div>
                            <label for="exampleInputEmail1">description</label>
                            <input type="email" name="description" class="form-control"ngModel  id="exampleInputEmail1" placeholder="Enter Name" (change)="onDesChanged($event)">
                           
                        </div>
                    </div> -->
        
                  <!-- <div class="form-group">
                        <label for="exampleInputEmail1">price</label>
                        <input type="email" name="price" class="form-control" ngModel id="exampleInputEmail1" placeholder="Enter Name" (change)="onPriceChanged($event)">
                      </div>
                     
        
                       <div class="form-group">
                        <label for="exampleInputEmail1"> offer</label>
                        <input type="email" name="offer" class="form-control" ngModel id="exampleInputEmail1" placeholder="Enter Name" (change)="onDiscountChanged($event)">
                      </div> -->
                  <br />
                  <div class="form-group">
                    <label>Category</label>
                    <select
                      class="form-control select2 select2-hidden-accessible"
                      style="width: 100%"
                      data-select2-id="1"
                      tabindex="-1"
                      aria-hidden="true"
                      (change)="onSelectChange($event)"
                    >
                      <option selected="Please Select the option" data-select2-id="1 ">
                        Please Select the option
                      </option>
                      <option data-select2-id="3 " value="Cosmetics">Cosmetics</option>
                      <option data-select2-id="face" value="Fashion">
                        Fashion
                      </option>
                    </select>
                  </div>
                </div>
              </div>
              <!-- /.card-body  [disabled]="buttonboool===true ? true : false"-->
        
              <div class="card-footer" style="display: flex; justify-content:center">
                <!-- <button type="submit" class="btn btn-primary" (click)="uploadBanner()" >Submit</button> -->
                <button type="submit" class="btn btn-outline-info"  data-dismiss="modal">
                  Submit
                </button>
              </div>
            </form>
          </div>
          <br>
          
        </div>
        </div>
        </section>
      </div>
      
    
  </div>
</div>


<ng-template #content let-modal>
  <div class="modal-header">
    <!-- <h4 class="modal-title" id="modal-basic-title">Profile update</h4> -->
    <!-- <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button> -->
  </div>
  <div class="modal-body">
    <form>
      <div class="card-body">
        <div class="form-group">
          <label for="exampleInputEmail1">Name</label>

          <input
            type="text"

            required
            class="form-control"
            id="exampleInputEmail1"
            value="{{objbanr?.banner_name}}"

            placeholder="Enter Name"
            (click)="onNameChanged($event)"

          />
        </div>
<br>
<img  class="img img-fluid img-thumbnail" id="preview" src="{{objbanr?.banner_url}}"   alt="alt">
<br><br>
<label>Img Name</label><br>
{{objbanr.banner_url}} 
<br>
        <div class="form-group">
          <!-- <label for="exampleInputFile">Upload Image</label>
                <div class="alert alert-light" role="alert">
                    Upload ur Image below
                  </div> -->
                <div class="input-group">
                  <div class="custom-file">
                    <input
                      required
                      accept="image/*"
                      type="file"
                      class="custom-file-input"
                      id="exampleInputFile"
                      name="product"
                      (change)="onImageChanged($event)">
                    <label class="custom-file-label" for="exampleInputFile">{{
                      imgName
                    }}</label>
                  </div>
                </div>
                <!-- <p class="text-dark">{{imgName}}</p><br>
                <small class="text-danger" *ngIf="check" >Format is not supported.</small>
                <p id="emailHelp" class="form-text text-dark">Upload JPEG,JPG Only.</p> -->
        </div>
        </div>
        
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark"  (click)="editSubmit();modal.dismiss('Cross click');">Update</button>
  </div>
</ng-template>

<p-dialog [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false" [closable]="false">
    
      <img class="d-block w-100 peinture-ombre-interne-fine"  src="{{objbanr?.banner_url}}" alt="pp">
    
        <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="displayModal=false" label="Ok" styleClass="p-button-text"></p-button>
        </ng-template>
</p-dialog>