<div class="container">
    <div class="row">
      <div class="col-12">
      <table class="table table-image">
        <thead>
          <tr>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Category</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let row of banner.message | paginate: { itemsPerPage: 5, 
            currentPage: page, 
            totalItems:totalNumber } | filter:term">
            <td class="w-25">
              <img src="{{row?.image_url}}" class="img-fluid img-thumbnail" alt="{{row?.name}">
            </td>
            <td>{{row?.name}}</td>
            <td>{{row?.category}}</td>
            <td>
              <button class="btn btn-info" data-toggle="modal"
              data-target="#exampleModal" (click)="onEdit(row); open(content)">Edit</button>
              <button class="btn btn-danger mx-3" (click)="deletebanner(row.id)" >Delete</button>
            </td>
          </tr>
        </tbody>
      </table>   
      </div>
    </div>
  </div>



  <table class="table mt-3" style="display: none;">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Upload Image</th>
        <th scope="col">Category</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of banner.success | paginate: { itemsPerPage: 5, 
        currentPage: page, 
        totalItems:totalNumber }">
        
        <td class="font-weight-bold">{{row?.name}}</td>
        <td><img src="{{row?.image_url}}" width="180px" height="90px" alt="{{row?.name}}"></td>
        <td class="font-weight-bold">{{row?.category}}</td>
        
        <!-- <td>{{row.id}}</td> -->
        <td>
          <button class="btn btn-info" data-toggle="modal"
          data-target="#exampleModal" (click)="onEdit(row); open(content)">Edit</button>
          <button class="btn btn-danger mx-3" (click)="deletebanner(row.id)" >Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

  <p-table  [value]="prime">
    <ng-template pTemplate="header">
        <tr>
            <!-- <th pSortableColumn="code">Code <p-sortIcon field="code"></p-sortIcon></th> -->
            <th pSortableColumn="banner_name">Name <p-sortIcon field="banner_name"></p-sortIcon></th>
            <th pSortableColumn="created_at">Created_at <p-sortIcon field="created_at"></p-sortIcon></th>
            <th>Image</th>
            <!-- <th pSortableColumn="price">Price <p-sortIcon field="price"></p-sortIcon></th> -->
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-prime>
        <tr>
            <td>{{prime.banner_name}}</td>
            <td>{{prime.created_at}}</td>
            <td><img class="img img-fluid img-thumbnail"  src="{{prime.banner_url}}"   alt="alt"></td>
            <td></td>
            <td></td>
        </tr>
    </ng-template>
</p-table>