<app-header></app-header>

<div>
  
  </div>

<!-- <div >
  <h1>{{res}}</h1>
  <p class="text-dark">{{res.id}}</p>
  <p class="text-dark">{{res.name}}</p>
  <p class="text-dark">{{res.offer}}</p>
  <p class="text-dark">{{res.qtyTotal}}</p>
  <button class="btn btn-secondary" (click)="removeFromCart(res)"> x</button>
  
</div> -->

<br>


<div class="card">

  <div class="page" style="display: none;">
    <div id="store_cart">
      <!-- <ul class="cart_head">
        <li class="cart_head_title">
          My Cart
        </li>
        <li class="cart_head_product">
          Product
        </li>
        <li class="cart_head_options">
          Edit
        </li>
        <li class="cart_head_price">
          Price
        </li>
      </ul> -->
  <br>
      <ul class="cart_item">
  
        <li class="cart_img_col">
          <img src="https://i.imgur.com/6SFageC.jpg">
        </li>
  
        <li class="cart_product_col">
          <p>Off-Road </p>
          <span><strong>Size: </strong>XL</span>
        </li>
         
            <li class="cart_options_col">
          <span>Quantity: </span>
          <input type="number" min="1" value="1">
        </li>
  
        <li class="cart_price_col">
          <h2>$399</h2>
        </li>
        <li class="cart_del_col">
          <img src="https://i.imgur.com/bI4oD5C.png">
        </li>
      </ul>
  
      <ul class="cart_item">
  
        <li class="cart_img_col">
          <img src="https://i.imgur.com/3P8WF5D.jpg">
        </li>
  
        <li class="cart_product_col">
          <p>SX Max Pro Lite</p>
          <span><strong>Size: </strong>Medium</span>
        </li>
         
            <li class="cart_options_col">
          <span>Quantity: </span>
          <input type="number" min="1" value="1">
        </li>
  
        <li class="cart_price_col">
          <h2>$399</h2>
        </li>
        <li class="cart_del_col">
          <img src="https://i.imgur.com/bI4oD5C.png">
        </li>
      </ul>
  
    </div>
  </div>

  <div class="container mt-5 p-3 rounded cart" style="display: none;">
    <div class="row no-gutters">
        <div class="col-md-8">
            <div class="product-details mr-2">
                <div class="d-flex flex-row align-items-center"><i class="fa fa-long-arrow-left"></i><span class="ml-2"></span></div>
                <hr>
                <h6 >Shopping cart</h6>
                <div class="d-flex justify-content-between"><span>You have 4 items in your cart</span>
                    <div class="d-flex flex-row align-items-center"><span class="text-black-50">Sort by:</span>
                        <div class="price ml-2"><span class="mr-1">price</span><i class="fa fa-angle-down"></i></div>
                    </div>
                </div>
                <div class="d-flex justify-content-between align-items-center mt-3 p-2 items rounded">
                    <div class="d-flex flex-row"><img class="rounded" src="https://i.imgur.com/QRwjbm5.jpg" width="80">
                        <div class="ml-2"><span class="font-weight-bold d-block">Iphone 11 pro</span><span class="spec">256GB, Navy Blue</span></div>
                    </div>
                    <div class="d-flex flex-row align-items-center">
                      <!-- <input
                     [(ngModel)]="res.qtyTotal"
                     [ngModelOptions]="{standalone: true}"
                     min="1"
                     type="number"
                     value="{{ res.qtyTotal }}"
                     name=""
                     class="form-control"
                     (change)="changeSubtotal(res ,j)"
                   /> -->

                   <input type="number" value="" min="1"> 
                      <!-- <span class="d-block">2</span> -->
                      <span class="d-block ml-5 font-weight-bold">$900</span>
                      <i class="fa fa-trash-o ml-3 text-black-50"></i>
                    </div>
                </div>
                <div class="d-flex justify-content-between align-items-center mt-3 p-2 items rounded">
                    <div class="d-flex flex-row"><img class="rounded" src="https://i.imgur.com/GQnIUfs.jpg" width="80">
                        <div class="ml-2"><span class="font-weight-bold d-block">One pro 7T</span><span class="spec">256GB, Navy Blue</span></div>
                    </div>
                    <div class="d-flex flex-row align-items-center"><span class="d-block">2</span><span class="d-block ml-5 font-weight-bold">$900</span><i class="fa fa-trash-o ml-3 text-black-50"></i></div>
                </div>
                <div class="d-flex justify-content-between align-items-center mt-3 p-2 items rounded">
                    <div class="d-flex flex-row"><img class="rounded" src="https://i.imgur.com/o2fKskJ.jpg" width="80">
                        <div class="ml-2"><span class="font-weight-bold d-block">Google pixel 4 XL</span><span class="spec">256GB, Axe black</span></div>
                    </div>
                    <div class="d-flex flex-row align-items-center"><span class="d-block">1</span><span class="d-block ml-5 font-weight-bold">$800</span><i class="fa fa-trash-o ml-3 text-black-50"></i></div>
                </div>
                <div class="d-flex justify-content-between align-items-center mt-3 p-2 items rounded">
                    <div class="d-flex flex-row"><img class="rounded" src="https://i.imgur.com/Tja5H1c.jpg" width="80">
                        <div class="ml-2"><span class="font-weight-bold d-block">Samsung galaxy Note 10&nbsp;</span><span class="spec">256GB, Navy Blue</span></div>
                    </div>
                    <div class="d-flex flex-row align-items-center"><span class="d-block">1</span><span class="d-block ml-5 font-weight-bold">$999</span><i class="fa fa-trash-o ml-3 text-black-50"></i></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="payment-info" style="display: none;">
                <div class="d-flex justify-content-between align-items-center"><span>Card details</span><img class="rounded" src="https://i.imgur.com/WU501C8.jpg" width="30"></div><span class="type d-block mt-3 mb-1">Card type</span><label class="radio"> <input type="radio" name="card" value="payment" checked> <span><img width="30" src="https://img.icons8.com/color/48/000000/mastercard.png" /></span> </label>
                <label class="radio"> <input type="radio" name="card" value="payment"> <span><img width="30" src="https://img.icons8.com/officel/48/000000/visa.png" /></span> </label>
                <label class="radio"> <input type="radio" name="card" value="payment"> <span><img width="30" src="https://img.icons8.com/ultraviolet/48/000000/amex.png" /></span> </label>
                <label class="radio"> <input type="radio" name="card" value="payment"> <span><img width="30" src="https://img.icons8.com/officel/48/000000/paypal.png" /></span> </label>
                <div><label class="credit-card-label">Name on card</label><input type="text" class="form-control credit-inputs" placeholder="Name"></div>
                <div><label class="credit-card-label">Card number</label><input type="text" class="form-control credit-inputs" placeholder="0000 0000 0000 0000"></div>
                <div class="row">
                    <div class="col-md-6"><label class="credit-card-label">Date</label><input type="text" class="form-control credit-inputs" placeholder="12/24"></div>
                    <div class="col-md-6"><label class="credit-card-label">CVV</label><input type="text" class="form-control credit-inputs" placeholder="342"></div>
                </div>
                <hr class="line">
                <div class="d-flex justify-content-between information"><span>Subtotal</span><span>$3000.00</span></div>
                <div class="d-flex justify-content-between information"><span>Shipping</span><span>$20.00</span></div>
                <div class="d-flex justify-content-between information"><span>Total(Incl. taxes)</span><span>$3020.00</span></div><button class="btn btn-primary btn-block d-flex justify-content-between mt-3" type="button"><span>$3020.00</span><span>Checkout<i class="fa fa-long-arrow-right ml-1"></i></span></button>
            </div>
        </div>
    </div>
  </div>

  <!-- <p></p> -->

  <div class="container" style="display: none;" >
    <br>
    <h1>Your Cart</h1>
    <table class="table table-xs">
      <tr class="m-view">
        <th></th>
        <th>Item</th>
        <th class="text-left">Quantity</th>
        <th class="text-right">Price</th>
        <th class="text-right">Total</th>
      </tr>
      <tr class="item-row">
        <td> <img src="http://placehold.it/50x50"/></td>
        <td>
          <p> <strong>Item 1</strong></p>
          <p>Amet et esse do nostrud id irure cupidatat labore nulla irure laboris</p>
        </td>
        <!-- <td class="text-right" title="Amount">3</td> -->
        <td class="text-right" title="Quantity"> <input
         
          id="mobile"
          min="1"
          type="number"
          value=""
          name=""
          class="form-control"
          
        /></td>
        <td class="text-right" title="Price">2.00</td>
        <!-- <td class="text-right" title="Total">6.00</td> -->
        <td class="text-right">
         
          <button>
          <span><i class="far fa-trash-alt"></i></span>
        </button>
      </td>
      </tr>
      <br>
      <hr>
      <tr class="item-row item-row-last">
        <td> <img src="http://placehold.it/50x50"/></td>
        <td>
          <p> <strong>Item 2</strong></p>
          <p>Amet et esse do nostrud id irure cupidatat labore nulla irure laboris</p>
        </td>
        <td class="text-right" title="Amount"> <input
         
          
          min="1"
          type="number"
          value=""
          name=""
          class="form-control"
          
        /></td>
        <td class="text-right" title="Price">4.00</td>
        <!-- <td class="text-right" title="Total">12.00</td> -->
        <td class="text-right">
          <button >
            <span><i class="far fa-trash-alt"></i></span>
          </button>
      </td>
      </tr>
      <tr class="total-row info">
        <td class="text-right" colspan="4">Total</td>
        <td class="text-right">18.00</td>
      </tr>
    </table>
  </div>
  

  <div class="row"  >
      <div class="col-md-8 cart">
          <div class="title">
              <div class="row">
                  <div class="col">
                      <h4><b>Shopping Cart</b></h4>
                  </div>
                  <!-- <div class="back-to-shop"><a></a><span class="text-muted">Back to shop</span></div> -->
                  
                  
              </div>
              <div class="alert alert-warning d-flex justify-content-center" role="alert" *ngIf="items.length<=0">
                Your Cart is &nbsp; <strong>Empty</strong>!! 
                <br><br>
                <a routerLink="/"><span class="text-bold text-uppercase"><u>Back to shop</u></span></a>
                <!-- {{items.length}} -->
              </div>
          </div>
          <div class="row border-top border-bottom"  *ngFor="let res of items; let j = index">
              <div class="row main align-items-center">
                
                  <div class="col-2"><img class="img-fluid" src="{{res.image_url}}"></div>
                  <div class="col">
                      <!-- <div class="row text-muted">Shirt</div> -->
                      <div class="row">{{res.name}}</div>
                  </div>
                  

                  <div class="col"> {{res.offer}}
                     
                    </div>

                  <div class="col">
                     <!-- <a>-</a> -->
                     <input
                     [(ngModel)]="res.qtyTotal"
                     [ngModelOptions]="{standalone: true}"
                     min="1"
                     type="number"
                     value="{{ res.qtyTotal }}"
                     name=""
                     class="form-control"
                     (change)="changeSubtotal(res ,j)"
                   />
                   <!-- <a>+</a>  -->
                    </div>
                    <button  class="btn btn-outline-danger" (click)="removeFromCart(res)">
                    <span><i class="far fa-trash-alt"></i></span>
                  </button>
                  
                  </div>
                  
          </div>
          <div *ngIf="items.length>0">
            <button class="btn" (click)="checkout()" >CHECKOUT</button>
            <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
              <div class="col">TOTAL PRICE</div>
              <div class="col text-right-muted">&#8377; Will be calculate at next step</div>
          </div> 
          </div>
         
          
          
          <!-- <div class="row">
              <div class="row main align-items-center">
                  <div class="col-2"><img class="img-fluid" src="https://i.imgur.com/ba3tvGm.jpg"></div>
                  <div class="col">
                      <div class="row text-muted">Shirt</div>
                      <div class="row">Cotton T-shirt</div>
                  </div>
                  <div class="col"> <a href="#">-</a><a href="#" class="border">1</a><a href="#">+</a> </div>
                  <div class="col">&euro; 44.00 <span class="close">&#10005;</span></div>
              </div>
          </div>
          <div class="row border-top border-bottom">
              <div class="row main align-items-center">
                  <div class="col-2"><img class="img-fluid" src="https://i.imgur.com/pHQ3xT3.jpg"></div>
                  <div class="col">
                      <div class="row text-muted">Shirt</div>
                      <div class="row">Cotton T-shirt</div>
                  </div>
                  <div class="col"> <a href="#">-</a><a href="#" class="border">1</a><a href="#">+</a> </div>
                  <div class="col">&euro; 44.00 <span class="close">&#10005;</span></div>
              </div>
          </div> -->
          
      </div>
      <div class="col-md-4 summary" style="display: none;">
          <div>
              <h5><b>Summary</b></h5>
          </div>
          <hr>
          <div class="row"  *ngFor="let res of items; let j = index">
              <!-- <div class="col" style="padding-left:0;">ITEMS {{res.qtyTotal}}</div> -->
              <div class="col text-right"> 
                <div #subTotalWrap></div>
              <!-- <span class="font-weight-bold">&#8377; {{total }}</span> -->
            </div>
          </div>
          <form>
              <p>SHIPPING</p> <select>
                  <option class="text-muted">Standard-Delivery- &#8377;5.00</option>
              </select>
              <p>GIVE CODE</p> <input id="code" placeholder="Enter your code">
          </form>
          <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
              <div class="col">TOTAL PRICE</div>
              <div class="col text-right">&euro; 137.00</div>
          </div> <button class="btn" (click)="checkout()">CHECKOUT</button>
      </div>
  </div>
</div>

<!-- <h5>Cart</h5>
  <div class="row">
    <div class="col-12 " *ngFor="let item of items; let j = index ">
      <div class="row" id="{{ item.id}}">
        <div class="col-6">
          <div class=" ">
                          {{ item.name }}
                          <small>( {{ item.offer }} ) </small>
          </div>
          <small class=" ">{{ item.desc }}</small>
        </div>
        <div class="col-2 p-0">
                      <input
            [(ngModel)]="item.qtyTotal"
            [ngModelOptions]="{standalone: true}"
            min="1"
            type="number"
            value="{{ item.qtyTotal }}"
            name=""
            class="form-control"
            (change)="changeSubtotal(item ,j)"
          />
        </div>
        <div class="col-2 pr-0">
                          <div #subTotalWrap>{{ item.offer  }}</div>
        </div>
        <div class="col-1 pl-0">
                          <button class="btn btn-secondary" (click)="removeFromCart(item)"> x</button>
        </div>
      </div>
    </div>
  
    <div class="col-12 ">
                  <hr />
      <div>
                      Order Total:
                      <span class="font-weight-bold  ">{{total }}</span><hr>
            <button class="btn btn-primary  " (click)="clearCart(items)"> Clear Items</button>
      </div>
    </div>
  </div>  -->
<br>

<!-- <div class="td_item item_qty">
  <select>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="more">More</option>
  </select>
</div> -->
  <app-footer></app-footer>