.card-img, .card-img-top {
    border-top-left-radius: calc(1.25rem - -1px);
    border-top-right-radius: calc(1.25rem - 1px);
    border-bottom-left-radius: calc(1.25rem - 1px);
    border-bottom-right-radius: calc(1.25rem - 1px);
}

