
html,body{
    font-family: 'Nunito', sans-serif !important;
    
}


img{
    cursor: pointer;
}

.img-fluid{
    max-width: 95% !important;
    border-radius: 14px;
}

span.old {
    text-decoration: line-through !important;
    opacity: 0.6;
    margin-right: 2px;
  }

#def{
   
        font: 400 24px/32px Roboto, "Nunito", sans-serif !important;
        letter-spacing: normal;
        margin: 0 0 16px;
      
}