<app-header></app-header>

<!--Main Products-->
<div class="product-area most-popular section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="owl-carousel popular-slider" style="display: none;">
          <!-- Start Single Product -->
          <div class="single-product">
            <div class="product-img">
              <a href="product-details.html">
                <img class="default-img" src="assets/images/AFJ- Images/Necklace/20200906_234515.jpg" alt="#">
                <img class="hover-img" src="assets/images/AFJ- Images/Necklace/20200906_234515.jpg" alt="#">
                <span class="out-of-stock">Hot</span>
              </a>
              <div class="button-head">
                <!-- <div class="product-action">
                    <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
                    <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
                    <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
                  </div> -->
                <div class="product-action-2">
                  <a title="Add to cart" href="#">Add to cart</a>
                </div>
              </div>
            </div>
            <div class="product-content">
              <h3><a href="product-details.html">Choker</a></h3>
              <div class="product-price">
                <span class="old">₹60.00</span>
                <span>₹50.00</span>
              </div>
            </div>
          </div>
          <!-- End Single Product -->
          <!-- Start Single Product -->
          <div class="single-product">
            <div class="product-img">
              <a href="product-details.html">
                <img class="default-img" src="assets/images/AFJ- Images/Choker/20200112_215159.jpg" alt="#">
                <img class="hover-img" src="assets/images/AFJ- Images/Choker/20200112_215159.jpg" alt="#">
              </a>
              <div class="button-head">
                <!-- <div class="product-action">
                  <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i
                      class=" ti-eye"></i><span>Quick Shop</span></a>
                  <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
                  <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
                </div> -->
                <div class="product-action-2">
                  <a title="Add to cart" href="#">Add to cart</a>
                </div>
              </div>
            </div>
            <div class="product-content">
              <h3><a href="product-details.html">Haaram</a></h3>
              <div class="product-price">
                <span>₹50.00</span>
              </div>
            </div>
          </div>
          <!-- End Single Product -->
          <!-- Start Single Product -->
          <div class="single-product">
            <div class="product-img">
              <a href="product-details.html">
                <img class="default-img" src="assets/images/AFJ- Images/Harram/20200115_200020.jpg" alt="#">
                <img class="hover-img" src="assets/images/AFJ- Images/Harram/20200115_200020.jpg" alt="#">
                <span class="new">New</span>
              </a>
              <div class="button-head">
                <!-- <div class="product-action">
                  <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i
                      class=" ti-eye"></i><span>Quick Shop</span></a>
                  <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
                  <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
                </div> -->
                <div class="product-action-2">
                  <a title="Add to cart" href="#">Add to cart</a>
                </div>
              </div>
            </div>
            <div class="product-content">
              <h3><a href="product-details.html">Jadapillai</a></h3>
              <div class="product-price">
                <span>₹50.00</span>
              </div>
            </div>
          </div>
          <!-- End Single Product -->
          <!-- Start Single Product -->
          <div class="single-product">
            <div class="product-img">
              <a href="product-details.html">
                <img class="default-img" src="assets/images/AFJ- Images/Harram/20200820_000508.jpg" alt="#">
                <img class="hover-img" src="assets/images/AFJ- Images/Harram/20200820_000508.jpg" alt="#">
              </a>
              <div class="button-head">
                <!-- <div class="product-action">
                  <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i
                      class=" ti-eye"></i><span>Quick Shop</span></a>
                  <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
                  <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
                </div> -->
                <div class="product-action-2">
                  <a title="Add to cart" href="#">Add to cart</a>
                </div>
              </div>
            </div>
            <div class="product-content">
              <h3><a href="product-details.html">Vangi/Amband</a></h3>
              <div class="product-price">
                <span>₹50.00</span>
              </div>
            </div>
          </div>
          <!-- End Single Product -->
        </div>

        <p-carousel
        ngClass="hidePaginator"
        [value]="slides"
        [numVisible]="3"
        [numScroll]="3"
        [circular]="false"
        [autoplayInterval]="5000"
        [responsiveOptions]="responsiveOptions"
      >
        <ng-template pTemplate="header"> </ng-template>
        <ng-template let-product pTemplate="item">
          <div class="product-item">
            <div class="product-item-content">
              <div class="p-mb-3">
                <img
                  class="product-image img-fluid"
                  src="{{ product.image }}"
                  alt="{{ product.name}}"
                  (click)="btnClick(product.url)"
                />
              </div>
              <div>
                <h3 class="p-mb-1">{{ product.name }}</h3>
                <!-- <h6 class="p-mt-0 p-mb-3">{{ product.offer }}</h6> -->
              </div>
            </div>
          </div>
        </ng-template>
      </p-carousel>
      
      <!--Product slider ends here-->

      </div>
    </div>
  </div>
</div>





<!-- Slider Area -->
<section class="hero-slider">
    <!-- Single Slider -->
    <div class="single-slider">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-lg-9 offset-lg-3 col-12">
            <div class="text-inner">
              <div class="row">
                <div class="col-lg-7 col-12">
                  <div class="hero-text">
                    <h1><span>UP TO 10% OFF </span>Necklaces</h1>
                    <!-- <p>Maboriosam in a nesciung eget magnae <br> dapibus disting tloctio in the find it pereri <br> odiy
                      maboriosm.</p> -->
                    <div class="button">
                      <a  class="btn">Shop Now!</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/ End Single Slider -->
  </section>
  <!--/ End Slider Area -->

 
  <div class="product-area most-popular section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title ">
            <h2>Necklace</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="owl-carousel popular-slider" style="display: none;">
            <!-- Start Single Product -->
            <div class="single-product">
              <div class="product-img">
                <a href="product-details.html">
                  <img class="default-img" src="assets/images/AFJ- Images/Necklace/20200906_234515.jpg" alt="#">
                  <img class="hover-img" src="assets/images/AFJ- Images/Necklace/20200906_234515.jpg" alt="#">
                  <span class="out-of-stock">Hot</span>
                </a>
                <div class="button-head">
                  <!-- <div class="product-action">
                      <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
                      <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
                      <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
                    </div> -->
                  <div class="product-action-2">
                    <a title="Add to cart" href="#">Add to cart</a>
                  </div>
                </div>
              </div>
              <div class="product-content">
                <h3><a href="product-details.html">Choker</a></h3>
                <div class="product-price">
                  <span class="old">₹60.00</span>
                  <span>₹50.00</span>
                </div>
              </div>
            </div>
            <!-- End Single Product -->
            <!-- Start Single Product -->
            <div class="single-product">
              <div class="product-img">
                <a href="product-details.html">
                  <img class="default-img" src="assets/images/AFJ- Images/Choker/20200112_215159.jpg" alt="#">
                  <img class="hover-img" src="assets/images/AFJ- Images/Choker/20200112_215159.jpg" alt="#">
                </a>
                <div class="button-head">
                  <!-- <div class="product-action">
                    <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i
                        class=" ti-eye"></i><span>Quick Shop</span></a>
                    <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
                    <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
                  </div> -->
                  <div class="product-action-2">
                    <a title="Add to cart" href="#">Add to cart</a>
                  </div>
                </div>
              </div>
              <div class="product-content">
                <h3><a href="product-details.html">Haaram</a></h3>
                <div class="product-price">
                  <span>₹50.00</span>
                </div>
              </div>
            </div>
            <!-- End Single Product -->
            <!-- Start Single Product -->
            <div class="single-product">
              <div class="product-img">
                <a href="product-details.html">
                  <img class="default-img" src="assets/images/AFJ- Images/Harram/20200115_200020.jpg" alt="#">
                  <img class="hover-img" src="assets/images/AFJ- Images/Harram/20200115_200020.jpg" alt="#">
                  <span class="new">New</span>
                </a>
                <div class="button-head">
                  <!-- <div class="product-action">
                    <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i
                        class=" ti-eye"></i><span>Quick Shop</span></a>
                    <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
                    <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
                  </div> -->
                  <div class="product-action-2">
                    <a title="Add to cart" href="#">Add to cart</a>
                  </div>
                </div>
              </div>
              <div class="product-content">
                <h3><a href="product-details.html">Jadapillai</a></h3>
                <div class="product-price">
                  <span>₹50.00</span>
                </div>
              </div>
            </div>
            <!-- End Single Product -->
            <!-- Start Single Product -->
            <div class="single-product">
              <div class="product-img">
                <a href="product-details.html">
                  <img class="default-img" src="assets/images/AFJ- Images/Harram/20200820_000508.jpg" alt="#">
                  <img class="hover-img" src="assets/images/AFJ- Images/Harram/20200820_000508.jpg" alt="#">
                </a>
                <div class="button-head">
                  <!-- <div class="product-action">
                    <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i
                        class=" ti-eye"></i><span>Quick Shop</span></a>
                    <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
                    <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
                  </div> -->
                  <div class="product-action-2">
                    <a title="Add to cart" href="#">Add to cart</a>
                  </div>
                </div>
              </div>
              <div class="product-content">
                <h3><a href="product-details.html">Vangi/Amband</a></h3>
                <div class="product-price">
                  <span>₹50.00</span>
                </div>
              </div>
            </div>
            <!-- End Single Product -->
          </div>
  
          <p-carousel
          ngClass="hidePaginator"
          [value]="necklace"
          [numVisible]="3"
          [numScroll]="3"
          [circular]="false"
          [autoplayInterval]="5000"
          [responsiveOptions]="responsiveOptions"
        >
          <ng-template pTemplate="header"> </ng-template>
          <ng-template let-necklaces pTemplate="item">
            <div class="product-item">
              <div class="product-item-content">
                
                <div class="p-mb-3">
                  
                  <img
                    class="product-image img-fluid"
                    src="{{ necklaces.image_url }}"
                    alt="{{ necklaces.name }}"
                    (click)="nav(necklaces.id)"
                  />
                  
                </div>
                <div>
                  <p></p>
                  <h3>{{ necklaces.name }}</h3>
                  <h6>{{ necklaces.offer }}</h6>
                </div>
              </div>
            </div>
          </ng-template>
        </p-carousel>
        
        <!--Product slider ends here-->
  
        </div>
      </div>
    </div>
  </div>
  
  <br>



<div>
    <mat-carousel
    timings="250ms ease-in"
    [autoplay]="true"
    
    color="accent"
    maxWidth="auto"
    
    [loop]="true"
    [hideArrows]="true"
    [hideIndicators]="true"
    [useKeyboard]="true"
    [useMouseWheel]="true"
    orientation="ltr"
    >
    <mat-carousel-slide
      #matCarouselSlide
      *ngFor="let slide of dummy; let index = index"
      [image]="slide?.image"
      overlayColor="#00000040"
      [hideOverlay]="false"
      
    ></mat-carousel-slide>
    </mat-carousel>
</div> 
<br>

<!--Carousel Area2-->

<section class="hero-slider">
  <!-- Slider 2-->
  <div class="single-slider">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-lg-9 offset-lg-3 col-12">
          <div class="text-inner">
            <div class="row">
              <div class="col-lg-7 col-12">
                <div class="hero-text">
                  <h1><span>UP TO 5% OFF </span>Combo Sets</h1>
                  <!-- <p>Maboriosam in a nesciung eget magnae <br> dapibus disting tloctio in the find it pereri <br> odiy
                    maboriosm.</p> -->
                  <div class="button">
                    <a class="btn">Shop Now!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Slider 2 -->
</section>

<!--End of Carousel Area2-->


<div class="product-area most-popular section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h2>Combo Sets</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="owl-carousel popular-slider" style="display: none;">
          <!-- Start Single Product -->
          <div class="single-product">
            <div class="product-img">
              <a href="product-details.html">
                <img class="default-img" src="assets/images/AFJ- Images/Necklace/20200906_234515.jpg" alt="#">
                <img class="hover-img" src="assets/images/AFJ- Images/Necklace/20200906_234515.jpg" alt="#">
                <span class="out-of-stock">Hot</span>
              </a>
              <div class="button-head">
                <!-- <div class="product-action">
                    <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
                    <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
                    <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
                  </div> -->
                <div class="product-action-2">
                  <a title="Add to cart" href="#">Add to cart</a>
                </div>
              </div>
            </div>
            <div class="product-content">
              <h3><a href="product-details.html">Choker</a></h3>
              <div class="product-price">
                <span class="old">₹60.00</span>
                <span>₹50.00</span>
              </div>
            </div>
          </div>
          <!-- End Single Product -->
          <!-- Start Single Product -->
          <div class="single-product">
            <div class="product-img">
              <a href="product-details.html">
                <img class="default-img" src="assets/images/AFJ- Images/Choker/20200112_215159.jpg" alt="#">
                <img class="hover-img" src="assets/images/AFJ- Images/Choker/20200112_215159.jpg" alt="#">
              </a>
              <div class="button-head">
                <!-- <div class="product-action">
                  <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i
                      class=" ti-eye"></i><span>Quick Shop</span></a>
                  <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
                  <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
                </div> -->
                <div class="product-action-2">
                  <a title="Add to cart" href="#">Add to cart</a>
                </div>
              </div>
            </div>
            <div class="product-content">
              <h3><a href="product-details.html">Haaram</a></h3>
              <div class="product-price">
                <span>₹50.00</span>
              </div>
            </div>
          </div>
          <!-- End Single Product -->
          <!-- Start Single Product -->
          <div class="single-product">
            <div class="product-img">
              <a href="product-details.html">
                <img class="default-img" src="assets/images/AFJ- Images/Harram/20200115_200020.jpg" alt="#">
                <img class="hover-img" src="assets/images/AFJ- Images/Harram/20200115_200020.jpg" alt="#">
                <span class="new">New</span>
              </a>
              <div class="button-head">
                <!-- <div class="product-action">
                  <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i
                      class=" ti-eye"></i><span>Quick Shop</span></a>
                  <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
                  <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
                </div> -->
                <div class="product-action-2">
                  <a title="Add to cart" href="#">Add to cart</a>
                </div>
              </div>
            </div>
            <div class="product-content">
              <h3><a href="product-details.html">Jadapillai</a></h3>
              <div class="product-price">
                <span>₹50.00</span>
              </div>
            </div>
          </div>
          <!-- End Single Product -->
          <!-- Start Single Product -->
          <div class="single-product">
            <div class="product-img">
              <a href="product-details.html">
                <img class="default-img" src="assets/images/AFJ- Images/Harram/20200820_000508.jpg" alt="#">
                <img class="hover-img" src="assets/images/AFJ- Images/Harram/20200820_000508.jpg" alt="#">
              </a>
              <div class="button-head">
                <!-- <div class="product-action">
                  <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i
                      class=" ti-eye"></i><span>Quick Shop</span></a>
                  <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
                  <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
                </div> -->
                <div class="product-action-2">
                  <a title="Add to cart" href="#">Add to cart</a>
                </div>
              </div>
            </div>
            <div class="product-content">
              <h3><a href="product-details.html">Vangi/Amband</a></h3>
              <div class="product-price">
                <span>₹50.00</span>
              </div>
            </div>
          </div>
          <!-- End Single Product -->
        </div>

        <p-carousel
        ngClass="hidePaginator"
        [value]="combosets"
        [numVisible]="3"
        [numScroll]="3"
        [circular]="false"
        [autoplayInterval]="5000"
        [responsiveOptions]="responsiveOptions"
      >
        <ng-template pTemplate="header"> </ng-template>
        <ng-template let-comboset pTemplate="item">
          <div class="product-item">
            <div class="product-item-content">
              <div class="p-mb-3">
                <img
                  class="product-image img-fluid"
                  src="{{ comboset.image_url }}"
                  alt="{{ comboset.name }}"
                  (click)="nav(comboset.id)"
                />
                
              </div>
              <div>
                <h3 >{{ comboset.name }}</h3>
                <h6 >{{ comboset.price }}</h6>
              </div>
            </div>
          </div>
        </ng-template>
      </p-carousel>
      
      <!--Product slider ends here-->

      </div>
    </div>
  </div>
</div>

<div class="card text-center">
  <div class="card-header">
    Store Info
  </div>
  <div class="card-body">
    <h5 class="card-title">AFJ- Ayisha Fashion Jewelery Shop </h5>
    <p class="font-weight-bold">We Sell numerous of items that are matched with today's trends as well.</p>
  </div>
</div>

<app-footer></app-footer>