<app-header-db></app-header-db>

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <!-- <h1 class="m-0 text-dark">View Products</h1> -->
            </div>
            <!-- /.col -->
            <!-- <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a>Home</a></li>
                <li class="breadcrumb-item active">Contact</li>
              </ol>
            </div> -->
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
      </div>
      <br>
      <div class="card card-primary">
        <div class="container">
            <div class="content">
              <div class="left-side">
                <div class="address details">
                  <!-- <i class="fas fa-map-marker-alt"></i> -->
                  <div class="topic">Address</div><br>
                  <div class="text-one">Nisha Plaza, 1st floor</div>
                  <div class="text-two">Adambakkam,Chennai</div>
                </div>
                <div class="phone details">
                  <!-- <i class="fas fa-phone-alt"></i> -->
                  <div class="topic">Phone</div><br>
                  <div class="text-one">+91 0000 0000 0000</div>
                  <div class="text-two">+91 0000 0000 0000</div>
                </div>
                <div class="email details">
                  <!-- <i class="fas fa-envelope"></i> -->
                  <div class="topic">Email</div><br>
                  <div class="text-one">bixitacademy@gmail.com</div>
                  <div class="text-two"></div>
                </div>
              </div>
              <div class="right-side">
                  <br>
                <div class="topic-text">Send us a message</div><br>
                <p>This Project is created by Bix.</p>
                <p>If you have any types of queries, you can contact us. Will be available to assist you further queries.</p>
                <form action="#" style="display: none;">
                  <div class="input-box">
                    <input type="text" placeholder="Enter your name">
                  </div>
                  <div class="input-box">
                    <input type="text" placeholder="Enter your email">
                  </div>
                  <div class="input-box message-box">
          
                  </div>
                  <div class="button">
                    <input type="button" value="Send Now" >
                  </div>
                </form>
              </div>
            </div>
          </div>
      </div>   
</div>

