<app-header></app-header>

<section id="contact-us" class="contact-us section">
    <div class="container">
            <div class="contact-head" >
                <div class="row" >
                    <div class="col-lg-8 col-12">
                        
                        <div class="single-head "id="white">
                            <div class="title">
                                <h3>Get in touch</h3>
                                <!-- <h3>Contact Us</h3> -->
                            </div>
                            <div class="single-info">
                               <h4 id="cen"> <i class="fa fa-phone"></i></h4>
                                <h4 class="title" id="cen">Call us Now:</h4>
                                
                                <ul id="cen">
                                    <li>+91-9444420279</li>
                                    <!-- <li>+522 672-452-1120</li> -->
                                </ul>
                            </div>
                            
                            <div class="single-info">
                              <h4 id="cen">  <i class="fa fa-envelope-open"></i></h4>
                                <h4 class="title">Email:</h4>
                                <ul id="cen">
                                    <li><a href="mailto:afj.abdulhai@gmail.com">afj.abdulhai@gmail.com</a></li>
                                    <!-- <li><a href="mailto:info@yourwebsite.com">support@yourwebsite.com</a></li> -->
                                </ul>
                            </div>
                            <div class="single-info">
                               <h4 id="cen"> <i class="fa fa-location-arrow"></i></h4>
                                <h4 class="title">Our Address:</h4>
                                <ul id="cen">
                                    <li>Pondy Bazzar, Chennai.</li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-main" style="display: none;">
                            <div class="title ">
                                <!-- <h4>Get in touch</h4><br><br> -->
                                <h3>Contact Us</h3>
                            </div>
                            <form class="form" method="post" action="mail/mail.php" style="display: none;">
                                <div class="row">
                                    <div class="col-lg-6 col-12">
                                        <div class="form-group">
                                            <label>Your Name<span>*</span></label>
                                            <input name="name" type="text" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-12">
                                        <div class="form-group">
                                            <label>Your Subjects<span>*</span></label>
                                            <input name="subject" type="text" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-12">
                                        <div class="form-group">
                                            <label>Your Email<span>*</span></label>
                                            <input name="email" type="email" placeholder="">
                                        </div>	
                                    </div>
                                    <div class="col-lg-6 col-12">
                                        <div class="form-group">
                                            <label>Your Phone<span>*</span></label>
                                            <input name="company_name" type="text" placeholder="">
                                        </div>	
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group message">
                                            <label>your message<span>*</span></label>
                                            <textarea name="message" placeholder=""></textarea>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group button">
                                            <button type="submit" class="btn ">Send Message</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            
                        </div>
                    </div>
                    <!-- <div class="col-lg-4 col-12">
                        
                    </div> -->
                </div>
            </div>
        </div>
</section>

<app-footer></app-footer>