<!-- <link rel="stylesheet" href="../../../assets/css/reset.css">
<link rel="stylesheet" href="../../../assets/css/responsive.css">
<link rel="stylesheet" href="../../../assets/css/shop-style.css"> -->

<header class="header shop">
  <div class="middle-inner">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-md-2 col-12">
          <!-- Logo -->
          <div class="logo">
            <a href="#"><img src="assets/images/afj-logo.png" alt="logo" /></a>
          </div>
          <!--/ End Logo -->
          <!-- Search Form -->
          <div class="search-top">
            <div class="top-search">
              <i class="ti-search" data-toggle="modal" data-target=".bd-example-modal-sm"></i>
            </div>
            <!-- <button type="button" class="btn btn-primary" >Small modal</button> -->

<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    
    <div class="modal-content">
      <div class="input-group mb-3">
      <div class="nice-select" tabindex="0">
        <span class="current">All Category</span>
        <ul class="list">
          <li data-value="All Category" class="option selected focus">All Category</li>
          <li data-value="necklace" class="option">Necklace</li>
          <li data-value="Combo sets" class="option">Combo Sets</li>
          <li data-value="Bridal sets" class="option">Bridal sets</li>
        </ul>
      </div>
    </div>
      <div class="input-group mb-3">
         <input type="text" class="form-control">
        
        <div class="input-group-append">
          <button class="btn btn-warning"><i class="fas fa-search"></i></button> <br>
          
        </div>
    </div>
    </div>
  </div>
</div>
            <!-- Search Form -->
            <div class="search-top">
              <div class="mp">
                <ng-template #content let-modal>
                  <div class="modal-header">
                    <!-- <h4 class="modal-title" id="modal-basic-title">Working</h4> -->

                    <button
                      type="button"
                      class="close"
                      aria-label="Close"
                      (click)="modal.dismiss('Cross click')"
                    >
                      <span aria-hidden="true"
                        ><i class="fa fa-times" aria-hidden="true"></i
                      ></span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <!-- <div class="navbar-collapse">
                      <div class="nav-inner">
                        <ul class="nav main-menu menu navbar-nav">
                          <li class="active">
                            <a
                              routerLink="/"
                              (click)="modal.dismiss('Cross click')"
                              >Home</a
                            >
                          </li>
                          <li>
                            <a
                              routerLink="/neck"
                              (click)="modal.dismiss('Cross click')"
                              >Necklace</a
                            >
                          </li>
                          <li>
                            <a
                              routerLink="/comboset"
                              (click)="modal.dismiss('Cross click')"
                              >Combo Sets</a
                            >
                          </li>
                          <li>
                            <a
                              routerLink="/"
                              (click)="modal.dismiss('Cross click')"
                              >Hipchain/Belt</a
                            >
                          </li>
                          <li><a routerLink="/">Bridal Sets</a></li>
                          <li><a routerLink="/">Choker</a></li>
                          <li>
                            <a href="">Others</a>
                            <ul class="dropdown">
                              <li><a href="">Anklet</a></li>
                              <li><a href="">Bangles</a></li>
                              <li><a href="">Chains</a></li>
                              <li>
                                <a href="">Rings</a>
                                <ul>
                                  <li><a href="">Toe Rings</a></li>
                                  <li><a href="">Finger Rings</a></li>
                                  <li><a href="">Nose Rings</a></li>
                                </ul>
                              </li>
                            </ul>
                          </li>

                          <li id="mob-cart"><a href="">Cart</a></li>
                        </ul>
                      </div>
                    </div> -->

                    <div class="box_content">
                      <ol class="rounded-list">
                        <li>
                          <ul>
                            <br>
                            <li style="
                            text-align:center;" routerLink="/cart"
                            (click)="
                              modal.dismiss('Cross click');
                            ">Cart <i class="fas fa-shopping-cart"></i> </li>
                            <br>
                            <li>
                              <a
                                routerLink="/"
                                (click)="
                                  modal.dismiss('Cross click');
                                "
                                >Home</a
                              >
                            </li>
                            <li>
                              <a
                                routerLink="/neck"
                                (click)="
                                  modal.dismiss('Cross click');
                                "
                                >Necklace
                              </a>
                            </li>
                            <li>
                              <a
                                routerLink="/comboset"
                                (click)="modal.dismiss('Cross click')"
                                >Combo Sets
                              </a>
                            </li>
                            <li>
                              <a
                                routerLink="/hipchain"
                                (click)="modal.dismiss('Cross click')"
                                >Hipchain/Belt</a
                              >
                            </li>
                            <li>
                              <a
                                routerLink="/bridal"
                                (click)="modal.dismiss('Cross click')"
                                >Bridal Sets</a
                              >
                            </li>
                            <li>
                              <a routerLink="/choker" (click)="modal.dismiss('Cross click')"
                                >Choker</a
                              >
                            </li>
                            <li>
                              <a routerLink="/anklet" (click)="modal.dismiss('Cross click')"
                                >Anklet</a
                              >
                            </li>
                            <li>
                              <a routerLink="/bangles" (click)="modal.dismiss('Cross click')"
                                >Bangles</a
                              >
                            </li>
                            <li>
                              <a routerLink="/chains" (click)="modal.dismiss('Cross click')"
                                >Chains</a
                              >
                            </li>
                            <li>
                              <a routerLink="/toe-rings" (click)="modal.dismiss('Cross click')"
                                >Toe Rings</a
                              >
                            </li>
                            <li>
                              <a routerLink="/rings" (click)="modal.dismiss('Cross click')"
                                >Finger Ring</a
                              >
                            </li>
                            <li>
                              <a routerLink="/nose-rings" (click)="modal.dismiss('Cross click')"
                                >Nose Ring</a
                              >
                            </li>
                          </ul>
                        </li>
                      </ol>
                    </div>
                  </div>
                  <!-- <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-outline-dark"
                      (click)="modal.close('Save click')"
                    >
                      Save
                    </button>
                  </div> -->
                </ng-template>

                <button
                  class="btn btn-lg btn-outline-warning"
                  (click)="open(content)"
                >
                  <i class="fa fa-bars" aria-hidden="true"></i>
                </button>
              </div>

              <!-- <pre>{{ closeResult }}</pre> -->
              <form class="search-form">
                <input
                  type="text"
                  placeholder="Search here......."
                  name="search"
                />
                <button value="search" type="submit">
                  <i class="ti-search"></i>
                </button>
              </form>
            </div>
            <!--/ End Search Form -->
          </div>
          <!--/ End Search Form -->

          <!-- <div class="slicknav_nav"></div> -->
        </div>
        <div class="col-lg-8 col-md-7 col-12">
          <div class="search-bar-top">
            <div class="search-bar">
              <div class="nice-select" tabindex="0">
                <span class="current">All Category</span>
                <ul class="list">
                  <li data-value="All Category" class="option selected focus">All Category</li>
                  <li data-value="necklace" class="option">Necklace</li>
                  <li data-value="Combo sets" class="option">Combo Sets</li>
                  <li data-value="Bridal sets" class="option">Bridal sets</li>
                </ul>
              </div>
              <form>
                <input
                  name="search"
                  placeholder="Search Products Here....."
                  type="search"
                  (change)='search($event)'
                />
                <button class="btnn"><i class="ti-search"></i></button>
              </form>
            
              <!-- <form [formGroup]="formGroup">
                <mat-form-field>
                  <mat-label>
                    Employee
                  </mat-label>
                  <input formControlName="employee" matInput type="text" [matAutocomplete]="auto" />
                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let item of filteredOptions" [value]="item">
                      {{item}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </form> -->
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-12">
          <div class="right-bar">
            <!-- Search Form -->
            <div class="sinlge-bar">
              <a href="#" class="single-icon"
                ><i class="fa fa-heart-o" aria-hidden="true"></i
              ></a>
            </div>
            <div class="sinlge-bar">
              <a href="#" class="single-icon"
                ><i class="fa fa-user-circle-o" aria-hidden="true"></i
              ></a>
            </div>
            <div class="sinlge-bar shopping">
              <a (click)=" reset()" class="single-icon" 
                ><i class="ti-bag"></i>
                 <span class="total-count">{{qwe | async}}</span>
                 <!-- <span class="total-count">{{title}}</span> -->
                 </a
              >
              <!-- Shopping Item -->
              <div class="shopping-item" style="display: none;">
                <div class="dropdown-cart-header">
                  <span>2 Items</span>
                  <a routerLink="/cart">View Cart</a>
                </div>
                <!-- <ul class="shopping-list">
                  <li>
                    <a href="#" class="remove" title="Remove this item"
                      ><i class="fa fa-remove"></i
                    ></a>
                    <a class="cart-img" href="#"
                      ><img src="https://via.placeholder.com/70x70" alt="#"
                    /></a>
                    <h4><a href="#">Woman Ring</a></h4>
                    <p class="quantity">
                      1x - <span class="amount">99.00</span>
                    </p>
                  </li>
                  <li>
                    <a href="#" class="remove" title="Remove this item"
                      ><i class="fa fa-remove"></i
                    ></a>
                    <a class="cart-img" href="#"
                      ><img src="https://via.placeholder.com/70x70" alt="#"
                    /></a>
                    <h4><a href="#">Woman Necklace</a></h4>
                    <p class="quantity">
                      1x - <span class="amount">35.00</span>
                    </p>
                  </li>
                </ul> -->
                <ul>
                  <li>
                    <!-- <app-cart></app-cart> -->
                  </li>
                </ul>
                <div class="bottom">
                  <div class="total">
                    <span>Total</span>
                    <span class="total-amount">134.00</span>
                  </div>
                  <a href="checkout.html" class="btn animate">Checkout</a>
                </div>
              </div>
              <!--/ End Shopping Item -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Header Inner -->
  <div class="header-inner">
    <div class="container fixes">
      <div class="cat-nav-head">
        <div class="row">
          <div class="col-lg-3"></div>
          <div class="col-lg-9 col-12">
            <div class="menu-area">
              <nav class="navbar navbar-expand-lg">
                <div class="navbar-collapse">
                  <div class="nav-inner">
                    <ul class="nav main-menu menu navbar-nav">
                      <li class="">
                        <a routerLink="/"  routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
                          true}">Home</a>
                      </li>
                      <li>
                        <a routerLink="/neck" class="active"
                          >Necklace</a
                        >
                      </li>
                      <li>
                        <a routerLink="/comboset"
                          >Combo Sets</a
                        >
                      </li>
                      <li>
                        <a routerLink="/hipchain">Hipchain/Belt</a>
                      </li>
                      <li>
                        <a routerLink="/bridal">Bridal Sets</a>
                      </li>
                      <li><a routerLink="/choker">Choker</a></li>
                      <li>
                        <a>Others</a>
                        <ul class="dropdown">
                          <li><a routerLink="/anklet">Anklet</a></li>
                          <li><a routerLink="/bangles">Bangles</a></li>
                          <li><a routerLink="/chains">Chains</a></li>

                          <li>
                            <a class="myDIV"
                              >Rings<i class="ti-angle-down"></i
                            ></a>
                          </li>
                          <ul class="dropdown hider">
                            <li>
                              <a routerLink="/toe-rings"
                                >Toe Rings</a
                              >
                            </li>
                            <li>
                              <a routerLink="/rings"
                                >Finger Rings</a
                              >
                            </li>
                            <li>
                              <a routerLink="/nose-rings"
                                >Nose Rings</a
                              >
                            </li>
                          </ul>
                        </ul>
                      </li>

                      <li id="mob-cart"><a href="">Cart</a></li>
                    </ul>
                  </div>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
