<app-header></app-header>

<section class="product-area shop-sidebar shop section">

<div class="wrapper rounded bg-white">
  <div class="d-flex align-items-center px-sm-3 pt-3 px-1">
    
      <div class=" align-items-center justify-content-left"> <b>Combo Sets</b> </div> 
      <!-- <select name="num" id="num" class="px-2 py-1 ml-sm-2 ml-1">
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
      </select>  -->

      

      <!-- <select name="sort" id="sort" class="px-1 py-1 ml-2">
          <option value="" selected hidden>Sort by</option>
          <option value="rating">Rating</option>
          <option value="popular">Popular</option>
          <option value="featured">Featured</option>
      </select> -->
  </div>
  <hr>

  
    <!-- <div class="d-view">
          <div class="row px-sm-2 px-0 pt-3">
              <div class="col-md-4 offset-md-0 offset-sm-2 offset-1 col-sm-8 col-10 offset-sm-2 offset-1 mb-3">
                  <div class="card">
                      <div class="px-2 red text-uppercase">new</div>
                      <div class="d-flex justify-content-center"> <img src="../../../assets/images/testing.png" class="product" alt=""> </div> <b class="px-2">
                          <p class="h4">Testing</p>
                      </b>
                      <div class="d-flex align-items-center justify-content-start rating border-top border-bottom py-2">
                          <div class="text-muted text-uppercase font-weight-bold">  &nbsp; insto2007</div>
                          
                      </div>
                      <div class="d-flex align-items-center justify-content-between py-2 px-3">
                          <div class="h4"><span>&#xa3;</span>10.99</div>
                       
                      </div>
                  </div>
              </div>
              <div class="col-md-4 offset-md-0 offset-sm-2 offset-1 col-sm-8 col-10 offset-sm-2 offset-1 my-md-0 my-3">
                  <div class="card">
                      
                      <div class="d-flex justify-content-center"> <img src="https://www.freepnglogos.com/uploads/plant-png/plants-transparent-png-pictures-icons-and-png-14.png" class="product" alt=""> </div> <b class="px-2">
                          <p class="h4">Testing</p>
                      </b>
                      <div class="d-flex align-items-center justify-content-start rating border-top border-bottom py-2">
                          <div class="text-muted text-uppercase px-2 border-right">insto2007</div>
                         
                      </div>
                      <div class="d-flex align-items-center justify-content-between py-2 px-3">
                          <div class="h4"><span>&#xa3;</span>10.99</div>
                          
                      </div>
                  </div>
              </div>
              <div class="col-md-4 offset-md-0 offset-sm-2 offset-1 col-sm-8 col-10 offset-sm-2 offset-1 my-md-0 my-3">
                  <div class="card">
                      <div class="px-2 red text-uppercase">new</div>
                      <div class="d-flex justify-content-center"> <img src="https://www.freepnglogos.com/uploads/plant-png/plant-png-plants-png-transparent-images-png-only-27.png" class="product" alt=""> </div> <b class="px-2">
                          <p class="h4">Testing</p>
                      </b>
                      <div class="d-flex align-items-center justify-content-start rating border-top border-bottom py-2">
                          <div class="text-muted text-uppercase px-2 border-right">insto2007</div>
                         
                      </div>
                      <div class="d-flex align-items-center justify-content-between py-2 px-3">
                          <div class="h4"><span>&#xa3;</span>10.99</div>
                          
                      </div>
                  </div>
              </div>
          </div>
        </div> -->
      <div>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-caret">
              <li class="breadcrumb-item"><a routerLink="/" class="text-uppercase">Home</a></li>
              <!-- <li class="breadcrumb-item"><a href="#" class="text-uppercase">Library</a></li> -->
              <li aria-current="page" class="breadcrumb-item active text-uppercase">Combo-Sets</li>
            </ol>
          </nav>
          
          <div class="row px-0 pt-3 "  *ngFor="let pp of products
          | paginate: { itemsPerPage: 5, 
            currentPage: page, 
            totalItems:totalNumber }">
              <div class="col-md-4 offset-md-0 offset-sm-2 offset-1 col-sm-8 col-10 offset-sm-2 offset-1 mb-3">
                  <div class="card">
                      <div class="px-2 red text-uppercase">new</div>
                      <div class="d-flex justify-content-center"> <img src='{{pp.image_url}}' class="product" alt=""> </div> <b class="px-2">
                          <p class="h4">{{pp.name}}</p>
                      </b>
                      <div class="d-flex align-items-center justify-content-start rating border-top border-bottom py-2">
                          <div class="text-muted text-uppercase px-2 border-right">{{pp.id}}</div>
                         
                      </div>
                      <div class="d-flex align-items-center justify-content-between py-2 px-3">
                          <div class="h4"><span>&#xa3;</span>{{pp.offer}}</div>
                          
                      </div>
                  </div>
              </div>
              <div class="col-md-4 offset-md-0 offset-sm-2 offset-1 col-sm-8 col-10 offset-sm-2 offset-1 my-md-0 my-3">
                  <div class="card">
                      <div class="px-2 red text-uppercase">new</div>
                      <div class="d-flex justify-content-center"> <img src="https://www.freepnglogos.com/uploads/plant-png/plants-transparent-png-pictures-icons-and-png-14.png" class="product" alt=""> </div> <b class="px-2">
                          <p class="h4">Testing</p>
                      </b>
                      <div class="d-flex align-items-center justify-content-start rating border-top border-bottom py-2">
                          <div class="text-muted text-uppercase px-2 border-right">insto2007</div>
                         
                      </div>
                      <div class="d-flex align-items-center justify-content-between py-2 px-3">
                          <div class="h4"><span>&#xa3;</span>10.99</div>
                          
                      </div>
                  </div>
              </div>
              <!-- <div class="col-md-4 offset-md-0 offset-sm-2 offset-1 col-sm-8 col-10 offset-sm-2 offset-1 my-md-0 my-3">
                  <div class="card">
                      
                      <div class="d-flex justify-content-center"> <img src="https://www.freepnglogos.com/uploads/plant-png/plant-png-plants-png-transparent-images-png-only-27.png" class="product" alt=""> </div> <b class="px-2">
                          <p class="h4"></p>
                      </b>
                      <div class="d-flex align-items-center justify-content-start rating border-top border-bottom py-2">
                          <div class="text-muted text-uppercase px-2 border-right">insto2007</div>
                         
                      </div>
                      <div class="d-flex align-items-center justify-content-between py-2 px-3">
                          <div class="h4"><span>&#xa3;</span>10.99</div>
                          
                      </div>
                  </div>
              </div> -->
          </div>

    </div>
  <br>

  <!-- <div class="row m-view" *ngFor="let pp of products">
      <div class="col-6">

          <div class="row px-sm-2 px-0 pt-3">
              <div class="col-md-4 offset-md-0 offset-sm-2 offset-1 col-sm-8 col-10 offset-sm-2 offset-1 mb-3">
                  <div class="card">
                      <div class="px-2 red text-uppercase">new</div>
                      <div class="d-flex justify-content-center"> <img src="{{pp.image_url}}" class="product" alt=""> </div> <b class="px-2">
                          <p class="h4">{{pp.name}}</p>
                      </b>
                      <div class="d-flex align-items-center justify-content-start rating border-top border-bottom py-2">
                          <div class="text-muted text-uppercase font-weight-bold">  &nbsp; insto2007</div>
                          
                      </div>
                      <div class="d-flex align-items-center justify-content-between py-2 px-3">
                          <div class="h4"><span>&#xa3;</span>10.99</div>
                       
                      </div>
                  </div>
              </div>
              <div class="col-md-4 offset-md-0 offset-sm-2 offset-1 col-sm-8 col-10 offset-sm-2 offset-1 my-md-0 my-3">
                  <div class="card">
                      
                      <div class="d-flex justify-content-center"> <img src="https://www.freepnglogos.com/uploads/plant-png/plants-transparent-png-pictures-icons-and-png-14.png" class="product" alt=""> </div> <b class="px-2">
                          <p class="h4">Testing</p>
                      </b>
                      <div class="d-flex align-items-center justify-content-start rating border-top border-bottom py-2">
                          <div class="text-muted text-uppercase px-2 border-right">insto2007</div>
                         
                      </div>
                      <div class="d-flex align-items-center justify-content-between py-2 px-3">
                          <div class="h4"><span>&#xa3;</span>10.99</div>
                          
                      </div>
                  </div>
              </div>
              <div class="col-md-4 offset-md-0 offset-sm-2 offset-1 col-sm-8 col-10 offset-sm-2 offset-1 my-md-0 my-3">
                  <div class="card">
                      <div class="px-2 red text-uppercase">new</div>
                      <div class="d-flex justify-content-center"> <img src="https://www.freepnglogos.com/uploads/plant-png/plant-png-plants-png-transparent-images-png-only-27.png" class="product" alt=""> </div> <b class="px-2">
                          <p class="h4">Testing</p>
                      </b>
                      <div class="d-flex align-items-center justify-content-start rating border-top border-bottom py-2">
                          <div class="text-muted text-uppercase px-2 border-right">insto2007</div>
                         
                      </div>
                      <div class="d-flex align-items-center justify-content-between py-2 px-3">
                          <div class="h4"><span>&#xa3;</span>10.99</div>
                          
                      </div>
                  </div>
              </div>
          </div>

      </div>
      <div class="col-6">
          
          <div class="row px-sm-2 px-0 pt-3">
              <div class="col-md-4 offset-md-0 offset-sm-2 offset-1 col-sm-8 col-10 offset-sm-2 offset-1 mb-3">
                  <div class="card">
                      <div class="px-2 red text-uppercase">new</div>
                      <div class="d-flex justify-content-center"> <img src="https://www.freepnglogos.com/uploads/plant-png/plant-png-pleasures-helping-others-beautiful-transparent-plants-0.png" class="product" alt=""> </div> <b class="px-2">
                          <p class="h4">Testing</p>
                      </b>
                      <div class="d-flex align-items-center justify-content-start rating border-top border-bottom py-2">
                          <div class="text-muted text-uppercase px-2 border-right">insto2007</div>
                         
                      </div>
                      <div class="d-flex align-items-center justify-content-between py-2 px-3">
                          <div class="h4"><span>&#xa3;</span>10.99</div>
                          
                      </div>
                  </div>
              </div>
              <div class="col-md-4 offset-md-0 offset-sm-2 offset-1 col-sm-8 col-10 offset-sm-2 offset-1 my-md-0 my-3">
                  <div class="card">
                      <div class="px-2 red text-uppercase">new</div>
                      <div class="d-flex justify-content-center"> <img src="https://www.freepnglogos.com/uploads/plant-png/plants-transparent-png-pictures-icons-and-png-14.png" class="product" alt=""> </div> <b class="px-2">
                          <p class="h4">Testing</p>
                      </b>
                      <div class="d-flex align-items-center justify-content-start rating border-top border-bottom py-2">
                          <div class="text-muted text-uppercase px-2 border-right">insto2007</div>
                         
                      </div>
                      <div class="d-flex align-items-center justify-content-between py-2 px-3">
                          <div class="h4"><span>&#xa3;</span>10.99</div>
                          
                      </div>
                  </div>
              </div>
              <div class="col-md-4 offset-md-0 offset-sm-2 offset-1 col-sm-8 col-10 offset-sm-2 offset-1 my-md-0 my-3">
                  <div class="card">
                      
                      <div class="d-flex justify-content-center"> <img src="https://www.freepnglogos.com/uploads/plant-png/plant-png-plants-png-transparent-images-png-only-27.png" class="product" alt=""> </div> <b class="px-2">
                          <p class="h4"></p>
                      </b>
                      <div class="d-flex align-items-center justify-content-start rating border-top border-bottom py-2">
                          <div class="text-muted text-uppercase px-2 border-right">insto2007</div>
                         
                      </div>
                      <div class="d-flex align-items-center justify-content-between py-2 px-3">
                          <div class="h4"><span>&#xa3;</span>10.99</div>
                          
                      </div>
                  </div>
              </div>
          </div>

      </div>
  </div> -->
  <div class="d-flex justify-content-center">
  <pagination-controls  maxSize='5' directionLinks='true' (pageChange)="page = $event"></pagination-controls>
</div>
</div>
</section>
<app-footer></app-footer>