/* aside {
  height: 150vh !important;
} */
aside {
    position: fixed !important;
  }
  
  .dropdown-footer, .dropdown-header {
    display: block;
    font-size: .875rem;
    padding: .5rem 1rem;
    text-align: center !important;
}