.my-class{
    max-width: 580px;
    width: 300px;
}

/* @media only screen and (max-width: 1000px) {
    .content-wrapper {
      display: none !important;
    }
    
  }

  @media only screen  and (max-width: 999px) {
    #my-content { display: block !important; }  
  } */
  