.red {
    background-color: #e03e3e;
    position: absolute;
    color: #fff;
    border-radius: 5px;
    right: 5px;
    top: 5px;
    font-size: 0.9rem
}
/* img {
    object-fit: contain;
    width: 150px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center
} */
.ngx-pagination .current {
    padding: 0.1875rem 0.625rem;
    background: orange !important;
    color: #fefefe;
    cursor: default;
}

/*css*/

*{
    box-sizing:border-box;
    -moz-box-sizing:border-box;
  }
  body {
      /* background: url();
      font-family: 'Nunito', sans-serif !important; */
    min-height: 1000px;
  }

 