<app-loader-db *ngIf="loaderbool"></app-loader-db>
<app-header-db></app-header-db>

<div class="content-wrapper">
  <br>
    <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">Admin Profile Update</h1>
            </div>
            
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a routerLink="/db-profile">Back</a></li>
                <li class="breadcrumb-item active">Profile Update</li>
              </ol>
            </div>
           
          </div>
          
        </div>
        
      </div>
      <br>
     

      <div class="card card-primary card mx-auto" style="width: 730px; border-radius:6px">

        <form role="form" [formGroup]="prof_update"  (ngSubmit)="update()">
          <div class="card-body">
            <div class="form-group">
              <label for="exampleInputEmail1">First Name</label>
              <input
                type="text"
                required
                class="form-control"
               
                formControlName="first_name"
                placeholder="  Enter Name"/>
            </div>

            <div class="form-group">
                <label for="exampleInputEmail1">Last Name</label>
                <input
                  type="text"
                  required
                  class="form-control"
                  
                  formControlName="last_name"
                  placeholder="  Enter Name"/>
            </div>
            <!-- <br /> -->
  
            <div class="form-group">
              <label for="exampleInputEmail1">Email ID</label>
              <input
                type="text"
                required
                class="form-control"
                formControlName="email_id"
                placeholder="  Enter Email-ID"
                readonly
              />
            </div>
  
            <div class="form-group">
              <label for="exampleInputEmail1">Phone Number</label>
  
              <input
                type="number"
                required
                class="form-control"
                formControlName="phone_number"
                placeholder="  Enter Phone Number"
              />
            </div>
  
            <div class="form-group">
              <label for="exampleInputEmail1">Area</label>
  
              <input
                type="text"
               
                required
                class="form-control"
                formControlName="address1"
                placeholder="  Area"
              />
            </div>

            <div class="form-group">
              <label for="exampleInputEmail1">City</label>
  
              <input
                type="text"
               
                required
                class="form-control"
                formControlName="address2"
                placeholder="  City"
              />
            </div>

            <div class="form-group">
                <label for="exampleInputEmail1">Password</label>
    
                <input
                  type="password"
                  toggle
                  required
                  class="form-control"
                  formControlName="password"
                  placeholder="  Enter Password"
                />
              </div>

            <div class="form-group">
                <label for="exampleInputFile">Upload Display Picture</label>
                <div class="input-group">
                  <div class="custom-file">
                    <input
                      required
                      accept="image/*"
                      type="file"
                      class="custom-file-input"
                      id="exampleInputFile"
                      name="product"
                      
                      (change)=" onImageChanged($event)"
                      >
                    <label class="custom-file-label" for="exampleInputFile" placeholder=' Upload'></label>
                  </div>
                  <!-- <div class="input-group-append">
                    <span class="input-group-text" id="">Upload</span>
                  </div> -->
                </div>
              </div>
  
            
          </div>
  
          <!-- /.card-body  [disabled]="buttonboool===true ? true : false"-->
  
          <div class="card-footer" style="display: flex; justify-content:center">
            <!-- <button type="submit"" class="btn btn-primary" (click)="uploadBanner()" >Submit</button> -->
            <button type="submit"  [disabled]="prof_update.invalid" class="btn btn-primary">
              Save Changes
            </button>
          </div>
  
        </form>
   
    </div> 
</div>
<br>

